.navabars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    margin-left: 80px;
    background-color: #126cf2;
    height: 150px;
    width: 1500px;
}
.left{
    margin-top: 25px;
    padding-left: 10px;
    grid-gap:30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    text-decoration: none;
    width: 400px;
    height: 5px;
}
.right{
    margin-top: 25px;
    margin-left: -20px;
    grid-gap:30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    text-decoration: none;
    width: 700px;
}

.right a{
    text-align: center;
color: white;
text-decoration: none;
border:solid  #ee7b11;
border-radius: 30px;
height: 60px;
background-color: #ee7b11;
}

.left a{

    width: px;
    text-align: justify;
    text-align: center;
    height: 20px;
    color: white;
    text-decoration: none;
    border:solid  #ee7b11;
    border-radius: 30px;
    height: 60px;
    background-color: #ee7b11;
    }
    .sidebar img{
        border-radius: 30px;
        border:solid #ee7b11;
        width: 60px;
        height: 60px;
    }
    .sidebar{
        margin-left: 80px;
        margin-top: 200px;
    }

    .sidebar a h1{
        color: white;
        margin-top: -70px;
        text-decoration: none;
        text-align: center;
        border-radius: 20px;
        background-color: #ee7b11;
        border: solid #ee7b11;
        width: 400px;
        height: 60px;
    }
     a{
        text-decoration: none;
     }

     /* .danny{
        position:fixed;
        border-radius: 20px;
        background-color: black;
        margin-top: -200px;
        margin-left: 800px;
        border: solid black;
        width: 350px;
     */
     

     .mainpage{
        position: fixed;
        background-color: black;
        margin-top: -350px;
        margin-left: 600px;
        border: solid black;
        width: 975px;
        
     }

     .mainpage h4{
        
        color: white;
        border: solid black;
        width: 300px;
        margin-left: 500px;
        
     }

     .mainpage h2{
        margin-left: 400px;
        color: white;
     }

     .mainpage p{
        /* margin-top: -100px; */
        margin-left: 400px;
        color: white;
     }

     .mainpage h2 b{
        color: orangered
     }

     .pragraph{
        margin-top: -400px;
     }